<div class="container-fluid">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel">
            <div>
                <h3>Stats</h3>
            </div>
            <div>
                Totalt antall kamper: {{matches.length}}
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th colspan="6">&nbsp;</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th style="min-width: 70px;">Wins</th>
                        <th>%</th>
                        <th>Rating</th>
                        <th>Hi/Low Rating</th>
                        <th>Form</th>
                        <th>RI</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="player in players | orderBy: 'rating' : true" player-update-animation>
                        <td>{{$index+1}}</td>
                        <td>{{player.name}}</td>
                        <td><span ng-show="player.stats.matches.value != null">{{player.stats.wins.value}} / {{player.stats.matches.value}}</span>
                        </td>
                        <td>{{player.stats.wins.value | percentage: player.stats.matches.value : 0}}</td>
                        <td>{{player.rating | roundWhole}}</td>
                        <td>{{player.stats.highestRating.value | roundWhole}} / {{player.stats.lowestRating.value | roundWhole}}</td>
                        <td>{{player.form}}</td>
                        <td>{{player.stats.highestRatingImprovement.value | number: 2}} / {{player.stats.highestRatingLoss.value | number: 2}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel">
            <h3>Streaks</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="3"></th>
                    <th colspan="2">Current streak</th>
                    <th colspan="2">Biggest streak</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win</th>
                    <th>Lose</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in players | orderBy: 'rating': true">
                    <td>{{$index+1}}</td>
                    <td>{{player.name}}</td>
                    <td>{{player.rating | roundWhole}}</td>
                    <td>{{player.stats.currentWinStreak}}</td>
                    <td>{{player.stats.currentLoseStreak}}</td>
                    <td>{{player.stats.biggestWinStreak.value}} ({{player.stats.biggestWinStreak.date | date: 'yyyy-MM-dd'}})</td>
                    <td>{{player.stats.biggestLoseStreak.value}} ({{player.stats.biggestLoseStreak.date | date: 'yyyy-MM-dd'}})</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-10 col-lg-offset-1">
        <chart-rating-line></chart-rating-line>
    </div>

    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel">
            <h3>Achievements</h3>
            <table class="table table-hover">
                <thead>
                <th>Player</th>
                <th>#</th>
                <th ng-repeat="achievement in achievements">{{achievement.name}}</th>
                </thead>
                <tbody>
                <tr ng-repeat="player in players">
                    <td>{{player.name}}</td>
                    <td>{{player.achievements.length}}</td>
                    <td ng-repeat="achievement in achievements" style="vertical-align: middle; text-align: center;">
                        <div ng-repeat="playerAchievement in player.achievements">
                            <div ng-if="playerAchievement.name == achievement.name">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
