<div class="container">
    <div class="panel">
        <div>
            <h2>Register game</h2>
        </div>
        <div>
            <form name="gameForm" ng-submit="registerGame()" novalidate game-validation>
                <ng-form name="gameFieldForm">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Played</th>
                            <th>Winner</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="player in players">
                            <td>{{player.name}}</td>
                            <td>
                                <input class="checkbox form-control" type="checkbox" ng-click="togglePlayer(player)">
                            </td>
                            <td style="width: 100px;">
                                <button type="button" class="btn" ng-class="{'btn-success' : player.winner}" ng-click="setWinner(player)" ng-show="player.wasPlaying">
                                    <span ng-show="player.winner">Winner</span>
                                    <span ng-show="!player.winner">Loser</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input class="btn btn-success" type="submit" value="Register" ng-disabled="gameForm.$invalid">
                </ng-form>
            </form>
        </div>
    </div>

    <div class="panel">
        <h2>Game History</h2>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" aria-expanded="false">View history</button>
        <div id="demo" class="collapse">
            <div ng-repeat="game in games | orderBy: 'dateTime' : true | limitTo: 10">
                <h5>{{game.dateTime | date: 'yyyy-MM-dd HH:mm' }}</h5>
                <ul>
                    <li ng-repeat="placement in game.placements">
                        {{placement.player.name}} | {{placement.player.ratingAdjustment | roundWhole}} <span ng-show="placement.placement == 1">(Winner)</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
