<div class="container">
    <div ng-hide="!settings.league">
        <div class="well well-sm text-center">
            <span class="funFact-show-hide" ng-show="showFunFact" ng-bind-html="funFact"></span>
        </div>
        <div class="panel">
            <div>
                <h3>Ratings</h3>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Wins</th>
                    <th style="width: 80px;">Rating</th>
                    <th style="width: 40px;">+/-</th>
                    <th style="width: 40px;">Form</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="player in players | orderBy: 'rating' : true" player-update-animation>
                        <td>{{$index+1}}</td>
                        <td>{{player.name}}</td>
                        <td><span ng-show="player.matches != null">{{player.wins}} / {{player.matches}}</span></td>
                        <td>{{player.rating | roundWhole}}</td>
                        <td><span ng-show="player.playedLastMatch">{{player.ratingAdjustment | roundWhole}}</span></td>
                        <td>{{player.form}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <rating-chart></rating-chart>
    </div>
    <div ng-hide="settings.league">
        <h3>Please go to settings and add League, Game and Season</h3>
    </div>
</div>
