<!--<div class="container-fluid">-->
    <!--<div class="col-lg-2 col-lg-offset-3">-->
        <!--<label for="startDate">Fra: </label>-->
        <!--<input id="startDate" type="date" min="2015-03-01" ng-model="startDate" required="required"/>-->
    <!--</div>-->
    <!--<div class="col-lg-2 col-lg-offset-2">-->
        <!--<label for="endDate">Til: </label>-->
        <!--<input id="endDate" type="date" min="2015-03-01" ng-model="endDate" required="required"/>-->
    <!--</div>-->
<!--</div>-->
<div ng-controller="ChartCtrl">
    <canvas id="ratingChart" class="chart chart-line" data="chartData.data" labels="chartData.labels" legend="true" series="chartData.series"
            options="chartData.options"></canvas>
</div>
