<div class="container">
    <div class="panel">
        <div>
            <h3>Settings</h3>
        </div>
        <div>
            <form class="form-horizontal" name="leagueForm" cg-busy="loading">
                <div class="form-group" ng-class="{ 'has-error': leagueForm.league.$invalid }">
                    <label for="inputLeague" class="col-sm-2 control-label">League</label>
                    <div class="col-sm-3">
                        <select id="inputLeague" class="form-control" ng-model="settings.league" ng-change="getGamesByLeague()">
                            <option value="none">Choose league</option>
                            <option ng-repeat="league in leagues">{{league.$id}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': leagueForm.game.$invalid }">
                    <label for="gameTypeDropdown" class="col-sm-2 control-label">Game</label>
                    <div class="col-sm-3">
                        <select id="gameTypeDropdown" class="form-control" ng-model="settings.game" ng-change="getSeasonsByGame()" ng-disabled="settings.league === 'none'">
                            <option value="none">Choose game</option>
                            <option ng-repeat="(game, object) in gameTypes">{{game}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': leagueForm.season.$invalid }">
                    <label for="inputSeason" class="col-sm-2 control-label">Season</label>
                    <div class="col-sm-3">
                        <select id="inputSeason" class="form-control" ng-model="settings.season" ng-disabled="settings.game === 'none'">
                            <option value="none">Choose season</option>
                            <option ng-repeat="(season, object) in seasons" ng-if="season != '0'">{{season}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="setLeague()" ng-disabled="leagueForm.$invalid">Set league</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
