<div class="container">
    <div class="panel">
        <div>
            <h3>Settings</h3>
        </div>
        <div>
            <form class="form-horizontal" name="leagueForm">
                <div class="form-group" ng-class="{ 'has-error': leagueForm.league.$invalid }">
                    <label for="inputLeague" class="col-sm-2 control-label">League</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputLeague" name="league" placeholder="League" ng-model="settings.league" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': leagueForm.game.$invalid }">
                    <label for="inputGame" class="col-sm-2 control-label">Game</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputGame" name="game"  placeholder="Game" ng-model="settings.game" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': leagueForm.season.$invalid }">
                    <label for="inputSeason" class="col-sm-2 control-label">Season</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputSeason" name="season"  placeholder="Season" ng-model="settings.season" required>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="inputPassword3" class="col-sm-2 control-label">Password</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<input type="password" class="form-control" id="inputPassword3" placeholder="Password">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="setLeague()" ng-disabled="leagueForm.$invalid">Set league</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
